body
{
    background-color: lightblue;
    border:lightgrey solid 4 px;
}

.nav
{
    background-color: lightgrey;
    border: lightblue thin solid;
    display:flex;
    flex-wrap: nowrap;
}
.navbutton
{
    background-color: blue;
    border-radius: 4px;
    color:whitesmoke;
    border: medium whitesmoke solid;
    width: 80px;
    height:30px;
    margin 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.formbox
{
    height: 300px;
    background-color: whitesmoke;
    margin:auto;
    width: 35%;
    border-color:blue thin solid;
    padding: 10px;
}



.spacebox
{
    height: 30%;
    width: 100%;
}

.form
{
    background-color: whitesmoke;
    border: thin blue solid;
    width: 40%;
    margin:auto;

}

.list
{
    text-decoration: none;
    text-align: center;
    font-size: large;
    padding: 2px;
    margin: 2px
}

.navbutton
{
    color: whitesmoke;
    background-color: blue;
    border:lightblue medium solid;
    width 40%;
    margin:auto;
    float:center;
}